@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');



.main-page {
    /* background-image: url("https://cdn.wallpapersafari.com/9/38/yQglMT.jpg"); */
    background-color: rgb(243, 234, 217);
}

.welcome-message-container {
    display: grid;
    place-content: center;


}

.welcome-message {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    padding: 7rem;

}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 100rem));
    /* grid-template-rows: repeat(auto-fit, minmax(10rem, 20rem)); */
    /* grid-template-columns: 50rem;
    grid-template-rows: 25rem; */

    justify-content: space-evenly;

    gap: 1rem;
}

.product {
    background: rgb(241, 239, 239);
    background-color: hsla(55, 15%, 66%, 0.836);
    


    display: flex;
    justify-content: space-between;


}


.image-container {
    width: 30%;
    background-color: white;
    padding: 1rem;
}

.image {
    object-fit: contain;
    width: 15rem;
    height: 15rem;
    float: left;

    cursor: pointer;


}

.product-text-container {
    width: 70%;
    
}

.product-text {
    font-size: 3rem;
}

.cart {
    font-size: 6rem;
}

.product2 {}

.other-text {
    font-size: 30px;
}

.form-control {
    margin: 10px;

}

.form-control input {
    width: 200%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 10px;
    position: relative;
    right: 130px;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    cursor: pointer;
    padding: 0.3rem;
    font-size: 0.6rem;
    width: 50%;
    border: none;
    border-radius: 0.2rem;
}

.btn.register {
    background-color: rgb(112, 158, 177)
}







.userLogin {

    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.signin-form {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.product-form {
    display: flex;
    justify-content: center;
}

.product-form input {
    border: 1px solid grey;
    border-radius: 10px;
    height: 20px;
    width: 50px;
    margin: 10px;
}

.signin-form input {
    height: 40px;
    width: 290px;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.submit {
    background-color: rgba(255, 153, 0);
    cursor: pointer;
}

.fawrench {
    color: blue;
}

.fatimes {
    color: red;
}

.small-titles {
    font-size: 25px;
    font-weight: bold;
}